*output/sound/combat_bank00.fsb
*output/models/marine/combat/*.dds
*output/materials/CNPlaygroundBalance
.fsbcache
audio/NSReforge_bank00.fsb
audio/NSReforge.fdp.bak
audio/ns2plus.fev
audio/fmod_designer.log
audio/undo-log.txt
audio/fmod_designer.log
